.navbar-top {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
.navbar-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.bg-gold-border1 {
    background: -webkit-linear-gradient(#FFEEC9,#CAA663,#8F774A);
    padding: 0.125rem;
}
.link-home {
    /* width: 210px;
    height: 71px; */
    width: 10.9375vmax;
    height: 3.6979166667vmax;
    border-radius: 0.625rem 0px 0px 0px;
}
.link-regis {
    /* width: 271px;
    height: 71px; */
    width: 14.1145833333vmax;
    height: 3.6979166667vmax;
    border-radius: 0px 0px 0px 0px;
}
.link-reward {
    /* width: 320px;
    height: 71px; */
    width: 16.6666666667vmax;
    height: 3.6979166667vmax;
    border-radius: 0px 0px 0px 0px;
}
.link-promotion {
    /* width: 229px;
    height: 71px; */
    width: 11.9270833333vmax;
    height: 3.6979166667vmax;
    border-radius: 0px 0px 0px 0px;
}
.link-contact {
    /* width: 221px;
    height: 71px; */
    width: 11.5104166667vmax;
    height: 3.6979166667vmax;
    border-radius: 0px 0.625rem 0px 0px;
}
.bg-link-brown {
    border-radius: inherit;
    background: linear-gradient(360deg, #0F0F0F 0%, #3F3F3F 100%);
    width: 100%;
    height: 100%;
}
.link-home img {
    /* width: 36px;
    height: 35px; */
    width: 1.875vmax;
    height: 1.8229166667vmax;
    margin-right: 0.625rem;
}
.link-regis img {
    /* width: 41px;
    height: 45px; */
    width: 2.1354166667vmax;
    height: 2.34375vmax;
    margin-right: 0.625rem;
}
.link-reward img {
    /* width: 41px;
    height: 40px; */
    width: 2.1354166667vmax;
    height: 2.0833333333vmax;
    margin-right: 0.625rem;
}
.link-promotion img {
    /* width: 48px;
    height: 43px; */
    width: 2.5vmax;
    height: 2.2395833333vmax;
    margin-right: 0.625rem;
}
.link-contact img {
    /* width: 34px;
    height: 41px; */
    width: 1.7708333333vmax;
    height: 2.1354166667vmax;
    margin-right: 0.625rem;
}
.bg-link-brown h3 {
    /* font-size: 30px; */
    font-size: 1.5625vmax;
    font-weight: 400;
}
.btn-link-regis {
    width: 22.875rem;
    height: 4.125rem;
    border-radius: 0px 0px 0px 0.625rem;
    border: 0.125rem solid #000;
    background: linear-gradient(#FFEEC9,#CAA663,#8F774A);
}
.btn-link-regis a img {
    width: 2.5625rem;
    height: 2.8125rem;
    margin-right: 0.625rem;
}
.btn-link-regis a div {
    color:#000;
    font-size: 2.1875rem;
    font-weight: 400;
}
.btn-link-login {
    width: 22.875rem;
    height: 4.125rem;
    border-radius: 0px 0px 0px 0px;
    border: 0.125rem solid #000;
    background: linear-gradient(#FFEEC9,#CAA663,#8F774A);
}
.btn-link-login a img {
    width: 2.6875rem;
    height: 2.6875rem;
    margin-right: 0.625rem;
}
.btn-link-login a div {
    color:#000;
    font-size: 2.1875rem;
    font-weight: 400;
}
.btn-link-intolotto {
    width: 22.875rem;
    height: 4.125rem;
    border-radius: 0px 0px 10px 0px;
    border: 0.125rem solid #000;
    background: linear-gradient(#FFEEC9,#CAA663,#8F774A);
}
.btn-link-intolotto a img {
    width: 4.25rem;
    height: 2.5625rem;
    margin-right: 0.625rem;
}
.btn-link-intolotto a div {
    color:#000;
    font-size: 2.1875rem;
    font-weight: 400;

}
.bg-content2,
.bg-reward-content,
.bg-promotion-content {
    width: 100%;
    background: linear-gradient(#FFEEC9,#CAA663,#8F774A);
    padding: 0.125rem;
    border-radius: 5px;
}
.bg-green-content,
.bg-green-reward {
    background: linear-gradient(360deg, #1C493E 0%, #378A75 100%);
    border-radius: inherit;
}
.bg-green-content {
    padding: 0.625vmax 3.28125vmax 6.1458333333vmax 1.6145833333vmax;
}
/* .bg-content {
    background-image: url("../img/bg-content.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12px 63px 118px 31px;
    padding: 0.625vmax 3.28125vmax 6.1458333333vmax 1.6145833333vmax;
}*/
.bg-green-content h1 {
    color:#6EEAA6;
    /* font-size: 35px; */
    font-size: 1.8229166667vmax;
}
.bg-green-content p {
    /* font-size: 20px; */
    font-size: 1.0416666667vmax;
    font-weight: 400;
    word-spacing: -1px;
}
/* .bg-reward {
    background-image: url("../img/bg-reward.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2px 2px 32px 2px;
} */
.bg-green {
    background-color: #378A75;
    border-radius: 3px 3px 0 0;
}
.t-white {
    color: #fff;
}
.bg-green.p {
    /* padding: 12.4px 26px; */
    padding: 0.6458333333vmax 0.6458333333vmax;
}
.bg-green p {
    /* font-size: 28px; */
    font-size: 1.4583333333vmax;
}
.bg-black-reward {
    background: linear-gradient(360deg, #0F0F0F 0%, #3F3F3F 100%);
    border-radius: 0 0 5px 5px;
    padding-bottom: 32px;
}
.fill-text.six-top {
    /* font-size: 65px; */
    font-size: 3.3854166667vmax;
    font-weight: 400;
}
.show-top6 .center-padding {
    padding: 0 29px;
    /* padding: 0 1.5104166667vmax; */
}
.bg-gold-border2 {
    background: -webkit-linear-gradient(#FFEEC9,#CAA663,#8F774A);
    border-radius: 5px;
    padding: 2px;
}
.padding-x-m {
    padding: 0 29px;
    /* padding: 0 1.5104166667vmax; */
}
.bg-content-green {
    border-radius: inherit;
    background: #378A75;
    width: 100%;
    height: 100%;
}
.edit-padding-bottom3 {
    padding: 2.083333333vmax 0;
}
.bg-front3,
.bg-back3 {
    width: 100%;
    /* height: 45px; */
    /* height: 2.34375vmax; */
}
.bg-back2 {
    width: 100%;
    /* height: 156px; */
    height: 8.125vmax;
}
.bg-num6 .bg-content-green h2 {
    /* font-size: 50px; */
    font-size: 2.6041666667vmax;
    font-weight: 300;
}
.bg-front3 .bg-content-green h3,
.bg-back3 .bg-content-green h3 {
    /* font-size: 30px; */
    font-size: 1.5625vmax;
    font-weight: 300;
}
.bg-back2 .bg-content-green h1 {
    /* font-size: 90px; */
    font-size: 4.6875vmax;
    font-weight: 300;
}

.fill-text.front3,
.fill-text.back3,
.fill-text.back2 {
    /* font-size: 30px; */
    font-size: 1.5625vmax;
    font-weight: 400;
}
.t-white.front3,
.t-white.back3 {
    /* font-size: 30px; */
    font-size: 1.5625vmax;
    font-weight: 300;
}
.t-white.back2 {
    /* font-size: 90px; */
    font-size: 4.6875vmax;
    font-weight: 300;
}
.padding-y-m {
    padding: 0 29px;
}
.padding-right-m {
    padding: 0 23px 0 0;
    padding: 0 1.197916667vmax 0 0;
}
.margin-t-m {
    margin-top: -50px;
}
.ban-promotion img {
    border-radius: 2px;
}
.bg-qr img {
    height: 20.2604166667vmax;
}
.col-pro.col-edit {
    width: 100%;
}
.foot-ban {
    background-image: url("../img/foot-ban.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0.2604166667vmax;
    padding-bottom: 0.2604166667vmax;
}
.foot-ban .text-area {
    /* padding-right: 78px; */
    padding-right: 4.0625vmax;
}
.foot-ban h1 {
    color:#6EEAA6;
    font-weight: 400;
    /* font-size: 45px; */
    font-size: 2.34375vmax;
}
.foot-ban p {
    /* font-size: 18px; */
    font-size: 0.9375vmax;
    font-weight: 400;
    word-spacing: -1px;
    letter-spacing: 0.004em;
}
.bg-border {
    background-image: url("../img/border-lotto.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3px 1px 3px 3px;
    display: inline-block;
    position: relative;
}
.bg-border::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* box-shadow: inset 11px 8px 16px rgb(0 0 0 / 90%); */
    transition: box-shadow .1s ease;
  }
img {
    display: block;
    position: relative;
}
.bg-fade {
    background-image: url("../img/bg-fade.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* .bg-fade {
    background: linear-gradient(90deg, #378A75 0%, rgba(110, 234, 166, 0) 100%);
    border-radius: inherit;
} */
.bg-fade li {
    font-size: 20px;
}
.set-image {
    width: 100%;
    height: 296px;
}
.set-image img {
    width: 36.0375vmax;
    top:50%;
    transform: translateY(-50%);
    z-index: 1000;
}
.pop-yeekee {
    background-image: url("../img/pop-yeekee.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-fade2 {
    background-image: url("../img/bg-fade2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-fade2 p {
    font-size: 18px;
}
.bg-fade3 {
    background: linear-gradient(90deg, #378A75 0%, rgba(110, 234, 166, 0) 100%);
}
.bg-gold-border3 {
    background: -webkit-linear-gradient(#FFEEC9,#CAA663,#8F774A);
    border-radius: 5px;
    padding: 2px;
}
.bg-foot-green {
    background: linear-gradient(360deg, #1C493E 0%, #378A75 100%);
    padding: 10px 10px 6.09375vmax 10px;

    border-radius: inherit;
}
/* .bg-box-footer {
    background-image: url("../img/bgbox-footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    min-height: 320px;
} */
.bg-foot-green hr {
    height: 1px;
    opacity: 1;
}
.bg-foot-green p {
    font-size: 18px;
    font-size: 0.9375vmax;
}
.bank-trans img.kbank,
.bank-trans img.scb,
.bank-trans img.ktb,
.bank-trans img.kungsi
{
    max-width: max-content;
}

/* contact pormmotion rewardlotto */
.footer p,
.footer a,
.footer .section-link {
    /* font-size: 15px; */
    font-size: 0.78125vmax;
    font-weight: 400;
}
.footer .section-link {
    margin-left: 12px;
}

@media (hover: hover) {
    .bg-border:hover::after {
        box-shadow: inset 11px 8px 16px rgb(0 0 0 / 90%);
        border-radius: 5px;
    }
    .bg-btn-thai:hover {
        box-shadow: inset 11px 8px 16px rgba(0, 0, 0, 0.9);
    }
    .btn-link-regis:hover,
    .btn-link-intolotto:hover,
    .btn-link-login:hover {
        background: #CAA663;
    }
    .link-bg-hover:hover {
        background: #3F3F3F;
    }
    .link-bg-hover:hover .fill-text.fill-text-hover {
        background:#CAA663;
        -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}


