.navbar-top {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
.navbar-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#body-content .page-content {
    padding: 0 325px;
}
.bg-content {
    background-image: url("../img/bg-content.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12px 63px 118px 31px;
}
.bg-content h1 {
    color:#6EEAA6;
    font-size: 35px;
}
.bg-content p {
    /* color: #fff; */
    font-size: 20px;
    font-weight: 400;
    word-spacing: -1px;
}
.bg-reward {
    background-image: url("../img/bg-reward.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2px 2px 32px 2px;
}
.bg-green {
    background-color: #378A75;
    border-radius: 3px 3px 0 0;
}
.t-white {
    color: #fff;
}
.bg-green.p {
    padding: 12.4px 26px;
}
.bg-green p {
    font-size: 28px;
}
.fill-text.six-top {
    font-size: 65px;
    font-weight: 400;
}
.show-top6 .center-padding {
    padding: 0 29px;
}
.bg-num6 {
    background-image: url("../img/num6.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    margin: 0 29px 0 29px;
}
.bg-num6 p {
    font-size: 41px;
    font-weight: 300;
}
.fill-text.front3,
.fill-text.back3,
.fill-text.back2 {
    font-size: 30px;
    font-weight: 400;
}
.bg-front3,
.bg-back3 {
    background-image: url("../img/front-back.png");
    background-repeat: no-repeat;
    margin: 0 0 0 29px;
}
.t-white.front3,
.t-white.back3 {
    font-size: 30px;
    font-weight: 300;
}
.bg-back2 {
    width: 157px;
    height: 156px;
    margin: auto;
    background-image: url("../img/back2.png");
    background-repeat: no-repeat;
}
.t-white.back2 {
    font-size: 90px;
    font-weight: 300;
}
.col-pro.col-edit {
    width: 100%;
}
.foot-ban {
    background-image: url("../img/foot-ban.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.foot-ban .text-area {
    padding-right: 78px;
}
.foot-ban h1 {
    color:#6EEAA6;
    font-weight: 400;
    font-size: 45px;
}
.foot-ban p {
    font-size: 18px;
    font-weight: 400;
    word-spacing: -1px;
    letter-spacing: 0.004em;
}
.bg-border {
    background-image: url("../img/border-lotto.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3px 1px 3px 3px;
}
.bg-fade {
    background-image: url("../img/bg-fade.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg-fade li {
    font-size: 20px;
}
.set-image {
    width: 100%;
    height: 296px;
}
.set-image img {
    width: 36.0375vmax;
    top:50%;
    transform: translateY(-50%);
}
.bg-fade2 {
    background-image: url("../img/bg-fade2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* .bg-wrapper {
    background-image: url("../img/bg-slidetext.png");
    background-repeat: no-repeat;
    background-size: cover;
} */
/* #landdingpage img {
    height: max-content;
}
.fill-text {
    background: -webkit-linear-gradient(#FFEEC9,#CAA663,#8F774A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-text {
    font-size: 52px;
}
.reward-text {
    font-size: 40px;
} */
